.contact_main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

form{
    width: 50%;
    /* border: 1px solid green; */
}

.contact_input{
    width: 98%;
    background-color: inherit;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    
}
.contact_input::placeholder{
    color: white;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.contact_form{
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    /* background-color: rgb(194, 197, 200); */
    padding: 1em;
}

textarea{
    resize: none;
    height: 20em;
    border-radius: 4px;

}

.thanks_page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact_btn{
    background-color: black;
    color: white;
}

@media only screen and (max-width: 768px) {
   .contact_input{
    border: 1px solid white;
    width: 100%;
   }
   .contact_form{
    width: 90%;
    padding-top: 70px;
    padding-left: 0;
   }
   .contact_btn{
    background-color: white;
    color: black;
   }
   .contact_main{
    align-items:self-start;
   }
}